.footer {
  background-color: var(--dark);

  &__container {
    row-gap: 3rem;
  }
  &__title {
    font-size: var(--normal-font-size);
    color: var(--white);
    margin-bottom: 1.5rem;
  }
  &__link {
    padding: 0.4rem 0;

    &:hover {
      color: var(--redish);
    }
  }
  &__social {
    font-size: 2rem;
    margin-right: 1rem;

    &:hover {
      color: var(--redish);
    } 
  }
}
