.bg-grid {
  max-width: 110rem;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 3rem;
  width: calc(100% - 3rem);
  margin: 0 1.6rem;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--royal);
}
